*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container{
    width: 400px;
    height: 400px;
    border: 2px solid rgb(197, 197, 154);
    /* transform: skewX(3deg); */
}
#box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid blue;
    /* transition-duration: 1s; */
    animation: spinner 4s ease-in-out infinite;
    /* transition-delay: 0.1s; */
}

#container:hover #box{
    transform: rotate(100deg);
}
@keyframes spinner{
    0%,100%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(300px,0px);
    }
    50%{
        transform: translate(300px,300px);
    }
    75%{
        transform: translate(0px,300px);
    }
}